

.containerListCardProjet{
    background-color: blue;
    color: white;
    width: 300px;  
    margin: 20px;
    padding: 20px;

}

.imgProjet{
    width:300px;
    height:200px;
object-fit: cover;
}
.describe{
    font-size:10px;
}
