@import '../../styles/communs.scss';

.idMe{
    box-shadow: 1px 0px 25px 0px $blue, 10px 10px 20px green;
    width:150px;
    height:150px;
    border-radius:100%;
    object-fit: cover;
}
.header{
    display: flex;
    justify-content:space-between;
    margin: 40px;
    
}
.point {
    background-repeat: repeat;
    outline: 1px solid green;
}

@media #{$medium-down} {
    .header{
        flex-direction: column;
        text-align: center;
        align-items:center;
//background-color: green;
    }
}