

/* Single Project */
#projects .project {
    margin: 1rem auto;
    width: 70%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
  }
  
  /* Project Image */
  #projects .project .project-link {
    display: block;
    margin: auto 0;
    color: #252934;
    overflow: hidden;
    text-align: center;
    height: 300px;
    width: 80%;
    border-radius: 50%;
    border: 1px solid #fafafa;
    box-shadow: 0 20px 10px -10px #25293450;
    transition: 300ms;
  }
  
  #projects .project .project-link:hover {
    box-shadow: 0 50px 15px -30px #25293450;
  }
  
  #projects .project .project-link:hover > img {
    filter: saturate(1);
    transform: scale(1.05);
    object-fit: cover;
  }
  
  #projects .project .project-image {
    width: 100%;
     transform: scale(1.2);
    filter: saturate(0);
    transition: all 300ms;
  }
  
  /* Project Details */
  #projects .project .project-details {
    margin: auto 0;
  }
  
  #projects .project-details .project-tile {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    color: #f300b4;
  }
  
  /* Icons */
  #projects .project-details .icons {
    margin: 0;
    color: #252934;
  }
  
  #projects .project-details .icons i {
    margin-right: .4rem;
    font-weight: normal;
    font-size: 1.4rem;
  }
  
  /* Text */
  #projects .project-details small {
    font-style: italic;
  }
  
  #projects .project-details p {
    margin: 1rem 0;
  }
  
  /* Buttons */
  #projects .project-details .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  #projects .project-details .buttons a {
    width: 49%;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid #f300b4;
    color: #252934;
    background: #fafafa;
    font-size: 1.2rem;
    text-align: center;
  }
  
  #projects .project-details .buttons a:hover {
    background: #f300b4;
    color: #fafafa;
  }
  #projects .project-details .buttons i {
    font-size: .8rem;
    vertical-align: middle;
    margin-left: 0.5rem;
  }
  
  
  @media only screen and (max-width: 1149px) {
    #projects .project {
      grid-template-columns: 1fr 2fr;
    }
  }
  
  @media only screen and (max-width: 949px) {
    #projects .project {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 649px) {
    #projects {
      background: #f0f0f0;
    }
    #projects .projects-container {
      padding: 12rem 0 8rem;
    }
    #projects .project {
      padding: 2rem 0;
      width: auto;
    }
  }
  
  
  
  