@import '../../styles/communs.scss';
label, #toggle
{
    display: none;
}
.navigate {
    text-align:center; 
    position: relative;
    top: 40px;
    width:600px;
    display: flex;
    justify-content:space-around;
   // outline: 20px solid green;
}
.navigate a{
    //outline:2px solid $blue;
    background-color:$blue;
    color: $blueLight;
    font-weight:bold;
    padding: 20px;
    border-radius:30% 10%;
    text-decoration: none;
    &:hover{
        color:$blue;
        background-color: $blueLight;
    }
   }
   @media #{$small-down} {
    nav .navigate
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    nav .navigate a {
        width: 10%;
       
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        cursor: pointer;
    }
 
    #toggle:checked + .navigate {
        display: flex;
    }
}
  